@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  font-family: "Space Grotesk";
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.bg {
  margin-bottom: 60px;
}
.bg .bg-mobile {
  width: 100%;
}
.bg .bg-desktop {
  display: none;
}
.bg .back {
  position: relative;
}
.bg .back .cvc-card {
  letter-spacing: 2px;
  position: absolute;
  top: -137px;
  left: 297px;
  font-size: 0.6rem;
  color: hsl(270, 3%, 87%);
}
.bg .back .card-back {
  position: absolute;
  top: -210px;
  left: 65px;
  width: 290px;
  height: 160px;
}
.bg .front {
  position: relative;
}
.bg .front .card-front {
  position: absolute;
  top: -120px;
  left: 15px;
  width: 290px;
  height: 160px;
}
.bg .front .dot1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsl(270, 3%, 87%);
  top: -100px;
  left: 35px;
}
.bg .front .dot2 {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid hsl(270, 3%, 87%);
  background: transparent;
  top: -92px;
  left: 75px;
}
.bg .front .number-card {
  position: absolute;
  top: -30px;
  left: 35px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: hsl(270, 3%, 87%);
}
.bg .front .name_year {
  width: 250px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 30px;
}
.bg .front .name_year .name-card {
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: hsl(270, 3%, 87%);
  text-transform: uppercase;
}
.bg .front .name_year .year-card {
  font-size: 0.7rem;
  color: hsl(270, 3%, 87%);
}

.formulario {
  width: 90%;
  margin: 5px auto;
  display: block;
}
.formulario form {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.formulario form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border-style: none;
  border: 1px solid hsl(270, 3%, 87%);
  width: 100%;
  height: 40px;
  padding: 10px;
}
.formulario form ::-moz-placeholder {
  color: hsl(270, 3%, 87%);
}
.formulario form ::placeholder {
  color: hsl(270, 3%, 87%);
}
.formulario form #year, .formulario form #mount {
  padding: 10px;
  width: 15%;
  margin-right: 5px;
}
.formulario form .p_number {
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  display: none;
  margin-bottom: 10px;
}
.formulario form .p_cvc {
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  display: none;
  margin-left: 130px;
  margin-top: -10px;
}
.formulario form .p_year {
  font-size: 0.5rem;
  color: hsl(0, 100%, 66%);
  display: none;
}
.formulario form #cvc {
  width: 60%;
  margin-left: 10px;
}
.formulario form .cvc-label {
  margin-left: 20px;
}
.formulario form input:hover {
  cursor: pointer;
}

.thank {
  display: none;
  text-align: center;
}
.thank h1 {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
.thank p {
  margin-bottom: 60px;
  font-size: 1.1rem;
  color: hsl(279, 6%, 55%);
  font-weight: 500;
}

button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  font-size: 1rem;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

footer .attribution {
  margin: 40px 0;
  margin-bottom: 0;
  font-size: 0.7rem;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 470px) {
  .bg {
    margin-bottom: 90px;
  }
  .bg .back .card-back {
    width: 350px;
    height: 210px;
    top: -270px;
    left: 90px;
  }
  .bg .back .cvc-card {
    top: -175px;
    left: 367px;
    font-size: 0.8rem;
  }
  .bg .front .card-front {
    width: 350px;
    height: 210px;
    top: -152px;
    left: 25px;
  }
  .bg .front .dot1 {
    top: -120px;
    left: 45px;
    width: 35px;
    height: 35px;
  }
  .bg .front .dot2 {
    top: -110px;
    left: 90px;
    height: 17px;
    width: 17px;
  }
  .bg .front .name_year {
    width: 300px;
    left: 45px;
  }
  .bg .front .number-card {
    top: -40px;
    left: 45px;
    font-size: 1.3rem;
  }
  .formulario form #cvc {
    margin-left: 24px;
  }
  .formulario form .cvc-label {
    margin-left: 80px;
  }
  .formulario form .p_cvc {
    margin-left: 190px;
  }
  .formulario button {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 700px) {
  .container {
    max-width: 800px;
  }
  .bg .back .card-back {
    top: -300px;
    left: 230px;
    width: 370px;
  }
  .bg .back .cvc-card {
    left: 520px;
    top: -205px;
  }
  .bg .front .card-front {
    width: 370px;
    left: 150px;
    top: -182px;
  }
  .bg .front .dot1 {
    top: -160px;
    left: 170px;
    height: 40px;
    width: 40px;
  }
  .bg .front .dot2 {
    top: -150px;
    left: 220px;
    height: 18px;
    width: 18px;
  }
  .bg .front .number-card {
    left: 170px;
    top: -60px;
    font-size: 1.4rem;
  }
  .bg .front .name_year {
    width: 320px;
    left: 170px;
    top: -10px;
  }
  .formulario {
    width: 70%;
  }
  .formulario form {
    font-size: 0.9rem;
  }
  .formulario form #mount {
    margin-left: 0;
  }
  .formulario button {
    width: 100%;
    margin: 0;
  }
  button {
    width: 70%;
    margin: auto 105px;
  }
  .thank .ok img {
    width: 100px;
  }
  .thank h1 {
    font-size: 2.8rem;
  }
  .thank p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 802px) {
  .container {
    max-width: none;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .bg .bg-mobile {
    display: none;
  }
  .bg .bg-desktop {
    display: block;
    width: 70%;
    height: 900px;
  }
  .bg .back .card-back {
    top: -600px;
    left: 70px;
  }
  .bg .back .cvc-card {
    top: -505px;
    left: 350px;
  }
  .bg .front .card-front {
    top: -830px;
    left: 30px;
  }
  .bg .front .dot1 {
    top: -810px;
    left: 55px;
  }
  .bg .front .dot2 {
    top: -800px;
    left: 110px;
  }
  .bg .front .number-card {
    top: -720px;
    left: 55px;
    width: 100%;
  }
  .bg .front .name_year {
    width: 310px;
    top: -660px;
    left: 55px;
  }
  .formulario {
    margin-top: 100px;
    margin-right: 20px;
    width: 40%;
  }
  .formulario form #cvc {
    width: 50%;
  }
  button {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .thank {
    margin-top: 100px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .bg .bg-desktop {
    width: 100%;
  }
  .bg .back .card-back {
    top: -550px;
    left: 210px;
  }
  .bg .back .cvc-card {
    left: 490px;
    top: -455px;
  }
  .bg .front .card-front {
    left: 160px;
    top: -780px;
  }
  .bg .front .dot1 {
    left: 180px;
    top: -760px;
  }
  .bg .front .dot2 {
    left: 235px;
    top: -750px;
  }
  .bg .front .number-card {
    left: 180px;
    top: -670px;
  }
  .bg .front .name_year {
    left: 180px;
    top: -610px;
  }
  .formulario {
    width: 410px;
    margin-left: 200px;
    margin-top: 150px;
  }
  .formulario form #cvc {
    width: 59%;
  }
  .formulario button {
    margin-top: 20px;
  }
  .thank {
    margin-left: 170px;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    max-height: 900px;
    height: 900px;
  }
  .bg .back {
    top: 100px;
    left: 40px;
  }
  .bg .back .card-back {
    width: 440px;
    height: 240px;
    top: -600px;
  }
  .bg .back .cvc-card {
    left: 560px;
    top: -495px;
    font-size: 1rem;
  }
  .bg .front {
    top: 50px;
    left: 10px;
  }
  .bg .front .card-front {
    width: 440px;
    height: 240px;
    top: -830px;
  }
  .bg .front .dot1 {
    left: 190px;
    width: 50px;
    height: 50px;
    top: -810px;
  }
  .bg .front .dot2 {
    top: -800px;
    left: 260px;
    height: 22px;
    width: 22px;
  }
  .bg .front .number-card {
    left: 190px;
    font-size: 1.6rem;
    top: -700px;
  }
  .bg .front .name_year {
    left: 190px;
    top: -640px;
    width: 360px;
  }
  .bg .front .name_year .name-card {
    font-size: 0.9rem;
  }
  .bg .front .name_year .year-card {
    font-size: 0.9rem;
  }
  form {
    margin-top: 70px;
    width: 100%;
    margin-left: 120px;
  }
  form input {
    font-size: 1rem;
  }
  .thank {
    margin-top: 200px;
    margin-left: 400px;
  }
  footer .attribution {
    font-size: 1rem;
    margin: -40px;
  }
}/*# sourceMappingURL=style.css.map */