@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  font-family: "Space Grotesk";
}

.bg {
  margin-bottom: 60px;
}
.bg .bg-desktop {
  display: none;
}
.bg .back .cvc-card {
  letter-spacing: 2px;
  position: absolute;
  top: 102px;
  left: 280px;
  font-size: 0.7rem;
  color: hsl(270, 3%, 87%);
}
.bg .back .card-back {
  position: absolute;
  top: 30px;
  left: 65px;
  width: 290px;
  height: 160px;
}
.bg .front .card-front {
  position: absolute;
  top: 120px;
  left: 15px;
  width: 290px;
  height: 160px;
}
.bg .front .dot1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsl(270, 3%, 87%);
  top: 140px;
  left: 35px;
}
.bg .front .dot2 {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid hsl(270, 3%, 87%);
  background: transparent;
  top: 148px;
  left: 75px;
}
.bg .front .number-card {
  position: absolute;
  top: 210px;
  left: 35px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: hsl(270, 3%, 87%);
}
.bg .front .name-card {
  position: absolute;
  top: 250px;
  left: 35px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: hsl(270, 3%, 87%);
  text-transform: uppercase;
}
.bg .front .year-card {
  position: absolute;
  top: 250px;
  left: 245px;
  font-size: 0.7rem;
  color: hsl(270, 3%, 87%);
}

.formulario {
  width: 300px;
  margin: 5px auto;
  display: none;
}
.formulario form {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.formulario form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border-style: none;
  border: 1px solid hsl(270, 3%, 87%);
  width: 100%;
  height: 40px;
  padding: 10px;
}
.formulario form ::-moz-placeholder {
  color: hsl(270, 3%, 87%);
}
.formulario form ::placeholder {
  color: hsl(270, 3%, 87%);
}
.formulario form #year, .formulario form #mount {
  padding: 10px;
  margin-left: 10px;
  width: 60px;
  margin-right: 5px;
}
.formulario form #cvc {
  width: 131px;
}
.formulario form .cvc-label {
  margin-left: 20px;
}

.thank {
  display: block;
  text-align: center;
}
.thank .ok {
  left: 40%;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
.thank .ok p {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 2rem;
  color: hsl(270, 3%, 87%);
}
.thank h1 {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
.thank p {
  margin-bottom: 60px;
  font-size: 1.1rem;
  color: hsl(279, 6%, 55%);
  font-weight: 500;
}

button {
  margin-left: 20px;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  background: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  font-size: 1rem;
  border-style: none;
}

footer .attribution {
  margin: 30px 0;
  font-size: 0.7rem;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */